
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
  }

  header{
    color:black;
    padding-top: 0px;
    min-height: 20px;
    border-bottom: 1px dotted #dddddd;
    margin-top:-1.2;
}
header a{
    color: #dddddd;
    text-decoration: none;
    text-transform:uppercase;
    font-size: 100%;
    transition: 0.7s;
    font-weight: bold;
}
header ul{
    margin:0;
    padding:0;
}
header li{
    float: left;
    display:inline;
    padding: 0 17px 0 17px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: :20px;
    border-top-right-radius:0.1px;
    border-bottom-left-radius:0.1px;
}
header li:hover{
    transition: 0.6s;
    background-color:#BCD5D1;
    opacity: 0.9;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
header li:hover a{
    transition: 1s;
    color:rgb(6, 104, 104);
}
.divHeader{
    width: :100%;
    margin: auto;
    overflow: hidden;
}
header #divH1{
    min-height: 60px;
    width:20%;
    float: left;
}
header nav{
    float:right;
    margin-top:40px;
    margin-top:6%;
    margin-right:7%;
}



  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    text-align: center;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {  
    background: url(https://wallpaperaccess.com/full/187161.jpg) no-repeat center fixed;
    background-size: cover;
    padding: 50px;
    text-align: center;
    background-color: #4262a7;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    text-align: center;
  }
  .emrat{
      text-align: center;
  }
  
  .title {
    color: grey;
    text-align: center;
  }

  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(16, 1, 150);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
      margin-top:0;
    }
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(7, 7, 117);
    color: white;
    text-align: center;
  }
